<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="domain" />
	</typeAliases>
	<typeHandlers>
		<typeHandler javaType="domain.en.CategoryStatus" handler="mapper.handler.CategoryStatusTypeHandler" />
		<typeHandler javaType="domain.en.CategoryViewType" handler="mapper.handler.CategoryViewTypeHandler" />
	</typeHandlers>
	<mappers>	
		<package name="mapper"/>
	</mappers>
</configuration>